
h4{
	color: #204051;
	font-size: 20px;
	font-family: 'Fondamento',cursive;
}
h2{
	color: #595238;
    font-family: 'Arvo', serif;
    font-size: 30px;
}
h3{
		font-family: 'Hind Siliguri', sans-serif;
}
.profile{
	background-color: #F6AB6C;}
.navbar{
	background-color: #086972;
}
 .navbar{
 	background-color: #3F4441;
}