
h5{
	color: #204051;
	font-size: 20px;
	font-family: 'Fondamento',cursive;
}
h4{
	color: #595238;
    font-family: 'Arvo', serif;
    font-size: 30px;
}
h3{
		font-family: 'Hind Siliguri', sans-serif;
}
.profile{
	background-color: #F6AB6C;}
.navbar{
	background-color: #086972;
}
 .navbar{
 	background-color: #3F4441;
}
p{

		font-family: 'Hind Siliguri', sans-serif;	
}
.backgroundimage{
	background-image: url('nick-morrison-FHnnjk1Yj7Y-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
